/* override */
.meny-body { padding: 0 !important; }

/* nav */
.navbar-form span { display: inline-block; vertical-align: middle; font-size: 14px; padding-top: 5px; }
.btn-group + .btn-group, .navbar-form { margin-left: 20px !important; }
.dropdown-menu .badge { margin-left: 5px; padding-left: 5px; padding-right: 5px; font-weight: normal; line-height: 11px; }
.nav-label a { font-weight: bold; }

/* chart style */
.chart {
	width: 100%;
	height: 400px;
	margin: 20px 0;
}

.chart-mini {
	height: 300px;
}

/* chart table style */
table.chart-data td {
	border: 1;
}

.navul{
    float: left;
    padding: 6px 15px 6px;
    padding-right: 18px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-right: 8px;
    margin-bottom: 2px;
    margin-top: 2px;
    color: #777;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
}
.navli{
    /*display: none;*/
    padding-top:2px;
    padding-left:10px;
    padding-right:10px;
    float:left;
    height:25px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.navallli{
    /*style:none;*/
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
}
#sumli{
    height:10px
}


